// BREAKPOINT VARIABLE(S)
$breakpoint: 40rem;

// TYPE FALLBACK FONT VARIABLES
$text-font-fallback-fonts: Futura, Arial;
$display-font-fallback-fonts: Futura, Arial;

// COLOR DEFINITIONS
@import 'styles/_colors.scss';

// TYPE STYLES
@import 'styles/_type.scss';

// FORM ELEMENTS
@import 'styles/_formElements.scss';

// CUSTOM STYLED COMPONENTS
header.header {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background: #d5ede9;
  height: 80px;
  padding: 0px 24px;
  box-sizing: border-box;
  .logo {
    max-height: 32px;
    margin-right: 1rem;
  }
  nav {
    display: inline-block;
    a {
      line-height: 40px;
      display: inline-block;
      @include h4-font-family;
      @include h4-font-weight;
      @include h4-font-style;
      @include h4-font-size;
      @include h4-letter-spacing;
      @include h4-text-transform;
      @include h4-text-decoration;
      color: $text-color;
      padding: 0 1rem;
    }
    &.rightNav {
      float: right;
      button {
        @include secondary-button;
        margin-left: 1rem;
      }
    }
  }
  .globalSearch {
    width: 30%;
    max-width: 24rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    input {
      @include p-font-family;
      @include p-font-weight;
      @include p-font-style;
      @include p-font-size;
      @include p-letter-spacing;
      @include p-text-transform;
      @include p-text-decoration;
      border: 1px solid transparent;
      outline: none;
      line-height: 20px;
      height: 38px;
      padding: 9px;
      border-radius: 8px;
      padding-right: 40px;
      width: 100%;
    }
    svg {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }
  input::placeholder {
    color: $midtone-color;
  }
  input:focus {
    border-color: $primary-color;
    box-shadow: $focus;
  }
}

// HOME PAGE HERO
.hero {
  padding: 200px 0;
  text-align: center;
  color: $primary-color;
  background: bottom center no-repeat url('/img/pencils.jpg') #d5ede9;
  .hero-word {
    position: relative;
    color: $bright-color;
    z-index: 1;
    margin-left: 0.25rem;
    &:before {
      display: block;
      content: '';
      position: absolute;
      background-image: url('/img/splotch.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 4.5em;
      height: 2em;
      z-index: -1;
      top: -0.15em;
      left: -0.15em;
    }
  }
}
// VIGNETTES
.vignette {
  text-align: center;
  h3 {
    margin: 2rem auto 0.5rem auto;
    max-width: 440px;
  }
  a {
    color: $midtone-color;
    transition: all 0.15s;
    &:hover {
      color: $secondary-color;
    }
  }
}

// HOME PAGE VIGNETTE LAYOUT
.vignettes {
  margin: 220px auto;
  width: 700px;
  .vignette {
    margin: -100px 0;
  }
  .vignette:nth-child(odd) {
    transform: translateX(-300px);
  }
  .vignette:nth-child(even) {
    transform: translateX(300px);
  }
}

// BIG CTA SECTION
.bigCtaBlock {
  padding: 4rem 0;
  background-image: url('/img/blob-background.svg');
  background-size: contain;
  text-align: center;
  color: $secondary-color;
  h2,
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
  h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
  button.hollow {
    @include tertiary-button;
  }
  button.filled {
    @include tertiary-filled-button;
  }
  .ctas {
    button {
      margin: 0 1rem;
    }
  }
}

// FOOTER
footer.footer {
  background: $lightIndigo;
  padding: 4rem;
  position: relative;
  .section1 {
    max-width: 250px;
    .logo {
      width: 10rem;
      height: auto;
      margin-bottom: 1.5rem;
    }
  }
  .section2 {
    width: 40rem;
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
    a {
      display: inline-block;
      @include h4-font-family;
      @include h4-font-weight;
      @include h4-font-style;
      @include h4-font-size;
      @include h4-letter-spacing;
      @include h4-text-transform;
      @include h4-text-decoration;
      width: 8rem;
      text-align: left;
      color: $text-color;
      margin-bottom: 1rem;
    }
  }
}
// MODAL
.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 2;
  perspective: 1000;
  h1 {
    display: block;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    background: #fff;
    margin-left: -225px;
    margin-top: -225px;
    position: absolute;
    color: $text-color;
    padding: 50px;
    border-radius: 8px;
    box-shadow: $thicker-shadow;
  }
  &.isClosed {
    opacity: 0;
    pointer-events: none;
    h1 {
      transform: translateZ(-300px) rotateX(30deg) translateZ(300px);
      transition: transform 0.3s;
    }
  }
  &.isOpen {
  }
  transition: all 0.2s;
}

.modal-enter {
  opacity: 0;
  pointer-events: none;
  h1 {
    transform: translateZ(-1200px) rotateX(-3deg) translateZ(1200px);
    transition: transform 0.3s;
  }
}
.modal-enter-active {
  opacity: 1;
  h1 {
    transform: translateZ(-1200px) rotateX(0deg) translateZ(1200px);
    transition: transform 0.3s;
  }
}
.modal-exit {
  opacity: 1;
  h1 {
    transform: translateZ(-1200px) rotateX(0deg) translateZ(1200px);
    transition: transform 0.3s;
  }
}
.modal-exit-active {
  opacity: 0;
  pointer-events: none;
  h1 {
    transform: translateZ(-1200px) rotateX(-3deg) translateZ(1200px);
    transition: transform 0.3s;
  }
}
